<!-- templates/origens/add_edit.html -->
{% extends "base.html" %}

{% block title %}
    {% if origem.id %}Editar Origem{% else %}Adicionar Nova Origem{% endif %}
{% endblock %}

{% block page_title %}
    {% if origem.id %}Editar Origem{% else %}Adicionar Nova Origem{% endif %}
{% endblock %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-xl">
    <form action="{% if origem.id %}{{ url_for('origens_edit', id=origem.id) }}{% else %}{{ url_for('origens_add') }}{% endif %}" method="POST">
        <div class="form-group">
            <label for="descricao" class="form-label">Descrição:</label>
            <input type="text" id="descricao" name="descricao" class="form-input" value="{{ origem.descricao | default('') }}" required>
        </div>
        
        <div class="flex justify-end space-x-4 mt-6">
            <a href="{{ url_for('origens_list') }}" class="btn-secondary">Voltar</a>
            <button type="submit" class="btn-primary">
                {% if origem.id %}Atualizar Origem{% else %}Cadastrar Origem{% endif %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
